.main-standard {
  width: 1200px;
  margin: auto !important;

  .view-more {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-size: 100%;
    text-align: center;
    line-height: 50px;
    background-image: url('../../../common/index/查看更多.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .main-title {
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    color: #2a8df2;
    border: none;

    .main-title-ch {
      .main-title-line {
        display: inline-block;
        width: 50px;
        height: 24px;
        margin: 0 15px;
        border-bottom: 1px solid #e6e6e6;
      }
    }

    .main-title-en {
      font-weight: 400;
      font-size: 14px;
      color: #b6b6b6;
    }
  }

  .guide-header {
    position: relative;
  }


  .guide-left {
    position: relative;
    img {
      width: 100%;
    }
  
    .btn-icon-dinge {
      width: 12px;
      margin-right: 6px;
      margin-left: -24px;
    }

    .btn-group {
      position: absolute;
      bottom: -18px;
      right: -18px;

      .btn-group-dinge {
        display: block;
        border: none;
        // border-bottom: 1px solid #ddd;
      }
      .btn-group-qingdan {
        border: none;
        display: block;
        background-color: #66abff;
        margin-left: 0;
      }
    }
  }

  .guide-right {
    position: relative;
    .en-title {
      font-size: 30px;
      font-weight: 100;
    }
    .zh-title {
      font-size: 20px;
      margin-top: 10px;
      font-weight: 400;
    }
    .br {
      width: 24px;
      background-color: #2a8df2;
      display: inline-block;
      border: 1px solid #2a8df2;
    }
    .area-select {
      position: absolute;
      right: 0;
      bottom: 10px;
    }
  }

  .main-content-row {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #eee;
  }

  .main-content-col {
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
  }
}
