.main-standard,
.main-indicator {
  margin-top: 50px;
}
.main-card {
  .ant-card-head {
    height: initial;
    line-height: initial;
    padding: 0 !important;
  }
  .ant-card-head-title {
    font-size: 20px;
    padding: 20px 0;
  }
}
.grid-style {
  width: 33.3%;
  text-align: left;

  .title {
    color: #009240;
    font-size: 14px;
    padding: 5px 0;
  }
  .description {
    line-height: 20px;
    font-size: 12px;
  }
}
.main-container {
  padding-bottom: 50px;

  .menu-content {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .menu {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    height: 114px;
    padding: 20px;
    width: 58px;
    border: 1px solid #555;
    text-align: center;
  }
}

.main-standard {
  .main-content {
    padding: 30px 0;
    article {
      padding-top: 20px;
    }
    p {
      padding: 10px 0;
    }
  }
  h3 {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 400;
  }
  .ant-btn-group {
    margin-top: 30px;

    .ant-btn {
      width: 130px;
      height: 40px;
      font-size: 16px;
    }

    .default {
      background-color: #f3f3f3;
    }
  }
}

.main-contain {
  padding: 40px 30px;

  .main-item {
    line-height: 38px;
    font-size: 14px;
  }
}

@keyframes wordsLoop {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

@-webkit-keyframes wordsLoop {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
  }
}

.image-item {
  animation: 15s wordsLoop linear infinite normal;
}
