.main-nav {
  // background-color: #f9f9f9;
  font-size: 14px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  overflow: hidden;

  .ant-card-bordered {
    // margin-top: 20px;
    // background: #edf3f5;
    border: none;
  }
}
