.main-nav {
  background-color: #f9f9f9;

  .main-nav-container {
    background-color: #f9f9f9;
    height: 78px;
    width: 1000px;
    margin: 0 auto;
    border-bottom: none;
    padding: 15px;
  }
}
