.resume-app {
  padding: 50px;
}
.resume {
  width: 800px;
  margin: 0 auto;
  height: 1000px;
  background-color: #fff;
}
.resume-header {
  padding: 45px 45px 10px;
  color: #fff;
  background: #484848;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}
.resume-username {
  font-size: 36px;
  color: #fcaf3b;
  display: inline-block;
}
.resume-actor {
  display: inline-block;
}
.resume-contact {
  color: #d6d6d6;
  display: inline-block;
  float: right;
}
.resume-body {
  padding: 0 45px;
}
.resume-body-item {
  padding: 22px 0px;
  overflow: hidden;
  h3 {
    border-bottom: 1px dashed #adadad;
    line-height: 35px;
  }
  .resume-main {
    color: #000;
    line-height: 30px;
  }
}
.resume-footer {

}
.col-8 {
  display: inline-block;
  width: 33.33%;
}
.col-24 {
  display: inline-block;
  width: 100%;
}