@import '../../style/const.less';

.header {
  height: 90px;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  
  .header-main {
    width: 1200px;
    margin: 0 auto;
    display: flex;
  }
  .left {
    // float: left;
    line-height: 50px;
    width: 120px;
    font-size: 40px;
    color: #2a8df2;
  }
  .right {
    width: 160px;
    // float: right;
    text-align: right;
    .ant-btn {
      width: 70px;
      border-radius: 4px;
      margin: 7px 5px;
      // margin-right: 10px;
      height: 34px;
      font-size: 14px;
    }
  }

  .header-nav {
    flex: 1;
    // background-color: @primary-color;
    line-height: 50px;

    .header-nav-main {
      width: 700px;
      margin: 0 auto;
      // background-color: @primary-color;
      border-color: #fff;
      color: #666;

      .ant-menu-item {
        font-size: 16px;
        margin: 0 10px;
        & > a {
          color: #666;
          &:hover {
            color: #2a8df2;
          }
        }
        &.ant-menu-item-selected {
          color: #2a8df2;
          border-color: #2a8df2;
          & > a {
            color: #2a8df2;
            &:hover {
              border-color: #2a8df2;
            }
          }
        }
        &.ant-menu-item-active {
          color: #2a8df2;
          border-color: #2a8df2;
          &:hover {
            border-color: #2a8df2;
          }
        }
      }
    }
  }

  .user-info {
    vertical-align: top;
    line-height: 49px;

    .avator {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .name {
      font-size: 12px;
      color: #929292;
      display: inline-block;
      margin-left: 12px;
    }
  }
}
